.right-align {
  margin: 0 0 0 auto !important;
}

.full-width-input {
  width: 100%;
}

button {
  margin-bottom: 5px;
  font-size: 20px;
  padding: 6px;
  font-style: italic;
  border: 1px solid black;
}
