<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=”stylesheet”>
</header>
<h1 mat-dialog-title>{{ dialogName }}</h1>
<div mat-dialog-content style="display: inline; padding: 0px; margin: auto;">

  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="Surname of student"
    [formControl]="surnameInputControl" required>

    @if(surnameInputControl.hasError('required')){
      <mat-error>Фамилия обязательно</mat-error>
    }
    @if(surnameInputControl.hasError('pattern')) {
      <mat-error>Только буквы разрешены</mat-error>
    }

  </mat-form-field>

  <mat-form-field class="full-width-input">

    <input matInput placeholder="Name of student"
    [formControl]="nameInputControl">

    @if(nameInputControl.hasError('required')){
      <mat-error>Имя обязательно</mat-error>
    }
    @if(nameInputControl.hasError('pattern')) {
      <mat-error>Только буквы разрешены</mat-error>
    }

  </mat-form-field>

  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="Patronymic of student"
    [formControl]="patronymicInputControl" required>

    @if(patronymicInputControl.hasError('required')){
      <mat-error>Отчество обязательно</mat-error>
    }
    @if(patronymicInputControl.hasError('pattern')) {
      <mat-error>Только буквы разрешены</mat-error>
    }

  </mat-form-field>

  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="Student's group"
    [formControl]="groupInputControl" required>

    @if(groupInputControl.hasError('required')){
      <mat-error>Группа обязательна</mat-error>
    }

  </mat-form-field>

  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="Student's phonenumber"
    [formControl]="phonenumberInputControl" required>

    @if(phonenumberInputControl.hasError('required')){
      <mat-error>Номер обязательно</mat-error>
    }

  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>

  <button class="right-align" mat-raised-button color="primary"
    [mat-dialog-close]="data" [disabled]="!isFormValid()" (click)="onSaveOrAddClick()">{{ dialogBtnName }}</button>
</div>

