table, td, th {
  /* border: 1px solid black; */
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  color: rgb(9, 4, 33);
  /* text-align: center; */
}

th {
  font-weight: bold;
  font-size: 20px;
}

td {
  font-size: 18px;
}

td, th {
  width: 25%;
}

.tableStyle {
  width: 60%;
  padding: 50px;
  font-size: 20px;
}

body {
  text-align: center;
}

button {
  margin-bottom: 5px;
  font-size: 20px;
  padding: 6px;
  font-style: italic;
}

.header {
  text-align: center;
  font-size: 24px;
}

#addBtn {
  margin-top: 25px;
}

/* .comp {
  text-align: center;
} */

.mat-mdc-form-field {
  font-size: 18px;
  width: 100%;
}

mat-paginator {
  font-weight: 400pt;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}
