/* :host {
  display: grid;
  grid-template-areas: "as ar";
  grid-template-columns: 200px auto;
}

:host.has-closed-menu {
  grid-template-columns: 100px auto;
}

aside {
  grid-area: as;
  height: 100vh;
  background: var(--form-background-color);
  border-right: 1px solid var(--primary-border-color);
}

article {
  grid-area: ar;
  margin: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
} */

.example-container {
  width: 100%;
  height: 100vh; /* Или 100vh для полной высоты */
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Боковая панель */
mat-sidenav {
  position: fixed;
  width: 280px;
  background: linear-gradient(180deg, #f5f5f5 0%, #e0e0e0 100%);
  padding: 16px;
  border-right: 1px solid #ddd;
}

/* Основной контент */
mat-sidenav-content {
  padding: 24px;
  background-color: #fafafa;
  /* overflow-y: auto; Вертикальная прокрутка */
}

/* button {
  margin-bottom: 5px;
  font-size: 20px;
  padding: 6px;
  font-style: italic;
  border: 1px solid black;
} */

#open-close-btn {
  text-align: right;
}

button {
  margin-top: 10px;
  font-size: 20px;
}

.side-btns {
  text-align: center;
}

.user-info {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}

#logOut-btn {
  text-align: center;
  button {
    background-color: red;
    position: fixed;
    bottom: 50px;
    left: 70px;
    right: 50px;
    width: 150px;
  }

}

